In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_xlsx_data(file_name):
    data = pd.read_excel(file_name)
    return data

In [3]:
df_old = read_xlsx_data('banco_de_pessoal.xlsx')

In [4]:
cols = []
for col in df_old:
    tp = str(col.split(":")[0]).lower()
    sb_tp = str(df_old[col][0]).lower()
    #print(tp, sb_tp)
    name = ""
    if(tp == 'unnamed'):
        name = cols[-1].split('_')[0]
    else:
        name = tp
    if(sb_tp != 'nan' and sb_tp != 'nat'):
        name = f'{name}_{sb_tp}'
    cols.append(name)
    print(name)

matrícula
nome
sexo
posto/graduação
antiguidade
lotação_região
lotação_batalhão
lotação_companhia
lotação_pelotão
lotação_grupo
lotação_cidade
data de ingresso
tempo anterior_tipo
tempo anterior_tempo em dias
data de nascimento
licenças especiais acumuladas
comportamento
formação
cursos de formação
cursos pm
outros cursos civis
idioma
endereço
férias
afastamento_tipo
afastamento_início
afastamento_fim
restrição_tipo
restrição_fim

In [5]:
df_new = pd.DataFrame(columns=cols)

In [6]:
for i,col in enumerate(df_old):
    df_new[cols[i]] = df_old[col][1:len(df_old[col])]

In [10]:
df_cursos = pd.read_csv('cursos.csv')
df_cursos

    id_curso                                nm_curso  id_tipo_curso
0          0                                    CFSD              1
1          1                                     CHC              1
2          2                                     CFS              1
3          3                                     CAS              1
4          4                                     CFO              1
5          5                                     CAO              1
6          6                                    CSPM              1
7          7                                 Direito              0
8          8                              Sociologia              0
9          9                               Filosofia              0
10        10                   Ciência da Computação              0
11        11                       Táticas Policiais              2
12        12                                  PROERD              2
13        13                     Operações Especiais              2
14        14                     Operações de Choque              2
15        15                     Polícia Comunitária              2
16        16                        Instruto de Tiro              2
17        17                                   Koban              2
18        18                                  Libras              3
19        19                                  Letras              3
20        20                  Técnico em Informática              3
21        21                   Técnico em Enfermagem              3
22        22                     Mestrado em Direito              3
23        23                    Doutorado em Direito              3
24        24                                Economia              3
25        25  Mestrado em Engenharia do Conhecimento              3

In [67]:
import numpy as np

df_cursos_militar = pd.DataFrame()
mat,cur_list = [],[]
for row in df_new.iterrows():
    
    formacao =  row[1]['formação']
    formacao = (df_cursos[df_cursos['nm_curso'] ==formacao]['id_curso'].values[0])
    
    mat.append(int(row[1]['matrícula']))
    cur_list.append(formacao)
    cur_form = row[1]['cursos de formação'].split('/')
    for cur in cur_form:
        mat.append(int(row[1]['matrícula']))
        cur_list.append(df_cursos[df_cursos['nm_curso'] ==cur]['id_curso'].values[0])

    pm = str(row[1]['cursos pm']).split(', ')
    pm_list = []
    for cur in pm:
        if(cur == '-' or cur == 'nan'):
            continue
        mat.append(int(row[1]['matrícula']))
        cur_list.append(df_cursos[df_cursos['nm_curso'] ==cur]['id_curso'].values[0])
    
    civ = row[1].astype(str)['outros cursos civis'].split(', ')
    civ_list = []
    for cur in civ:
        if(cur == '-' or cur == 'nan'):
            continue
        mat.append(int(row[1]['matrícula']))
        cur_list.append(df_cursos[df_cursos['nm_curso'] ==cur]['id_curso'].values[0])
    #print(int(row[1]["matrícula"]),formacao, cur_form_list, pm_list, civ_list)
df_cursos_militar['id_curso_matricula'] = np.arange(0,len(mat))
df_cursos_militar['matricula'] = np.array(mat)
df_cursos_militar['id_curso'] = np.array(cur_list)

In [68]:
df_cursos_militar.to_csv('militar_curso.csv', index=False)

In [10]:
df_new.to_csv('banco_de_pessoal.csv', index=False)